.column {
    float:left;
    width: 33%;
    text-align: center;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
    width:100%;
    margin:0 auto;
}

.header{
    text-align: center
}

.content{
    width: 75%;
    margin:0 auto;
}
#Travel{
    content: url('images/around.png');
    height:128px;
    width:128px;
    margin-left: auto;
    margin-right: auto;
}

#Travel:hover{
    content:url('images/travel.png');
    cursor:pointer;
}

#Contact{
    content: url('images/email.png');
    height:128px;
    width:128px;
    margin-left: auto;
    margin-right: auto;
}

#Contact:hover{
    content:url('images/email\ \(1\).png');
    cursor:pointer;
}

#Hobbies{
    content: url('images/hoop\ \(1\).png');
    height:128px;
    width:128px;
    margin-left: auto;
    margin-right: auto;
}

#Hobbies:hover{
    content:url('images/hoop.png');
    cursor:pointer;
}

.navigation{
    background-color:rgb(245, 245, 245, .7);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.navigation a:link{
    padding: 10px;
}

a:link, a:visited{
    color:black;
}

a:hover{
    color: orange;
}

.carousel{
    width:750px;
    margin:auto;
    overflow: hidden;
    border: 10px solid rgba(245, 245, 245, .7);
    position: relative;
}

#button{
    background-color: #555555;
    border: 2px solid black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}

#button:hover{
    background-color: gray;
}

#button:active{
    background-color: #3b3b3b;
}

.carousel-slide{
    display:flex;
    width: 100%;
    height: 100%;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -1.4px;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.interests{
    text-align: center;
    padding: 10px;
    background-color: rgba(245, 245, 245, .7);
}

#prev-button{
    position: absolute;
    top: 50%;
    z-index:10;
    left: 5%;
    cursor: pointer;
    opacity: 0.5;
    width: 35px;
    height: 35px;    
}

.container{
    margin:0 auto;
    position: relative;
    background-color: rgb(245, 245, 245, .7);
    width:75%;
    padding: 30px;
}

#next-button{
    position: absolute;
    top: 50%;
    z-index:10;
    right: 5%;
    cursor: pointer;
    opacity: 0.5;
    width: 35px;
    height: 35px;    
}

.scrollbox{
    overflow:auto;
    height: 250px;
    width: 500px;
}